.green{
    background-color: lightgreen;
}

.dark-container{
    color: white;
    box-shadow: 3px 3px 3px black;

  }

.bg-darked{
    color: white;
    background-color:rgb(20,20,50);
    border:solid 1px white;

  }

  .dark-container .form, .dark-container input,.dark-container mat-label{
    background-color:rgb(20,20,50);
    color: white;
     
  }

  .dark-accordion{
    background-color:rgb(20,20,50);
    color: white;
  }

  .dark-container input[type="button"]:hover,.dark-container button:hover{
    background-color: white;
    color: black;
  }
  .dark-container input[type="button"],.dark-container button
  {
    border:solid 1px white;
    color: white;
    margin:2px;
  }

  


   


  .dark-container ::ng-deep .mat-step-header .mat-step-label
  {
    color: white;
  }
  
  .dark-container .mat-form-field-appearance-outline .mat-form-field-outline{
    color:solid 1px red;
  }

 .panel_stepper
 {
    min-height: 500px;;
  }

  .carte_applicant{
    border:solid 1px rgb(242,242,242);
  }
  /*
border:rgb(29,29,66);
background-color:rgb(20,20,50);

*/