<div class="row">
    <div class="col-10 offset-1">
        <button type="button" mat-raised-button (click)="fileInput.click()"   class="col-3 col-sm-6 col-xs-16 mx-3 ">Charger un nouveau fichier</button>
        <input   (change)="onFileSelected()" #fileInput type="file" id="file"   hidden>
        <span [class]="img_name=='Aucune image'? '':'green'" class="col"> {{img_name}}</span>
    </div>
    <div class="col-10 offset-1">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
          </table>
    </div>
</div>


<div class="row">
  <div class="col-10 offset-1">
      <button type="button" mat-raised-button (click)="fileInput.click()"   class="col-3 col-sm-6 col-xs-16 mx-3 ">Charger une Nouvelle signature</button>
      <input   (change)="onFileSelected()" #fileInput type="file" id="file"   hidden>
      <span [class]="img_name=='Aucune image'? '':'green'" class="col"> {{img_name}}</span>
  </div>
  <div class="col-10 offset-1">
    
  </div>
</div>
