.img-container img{
    width: 200px;
    border:solid 2px aliceblue;
}

#content{
    min-width: 1000px;
}

.graphe-container{
    background-color: white;
    padding:10px;
}
.card-icon span{
    font-size: 4em;
}
.card-icon
{
    border:solid 1px aliceblue;
    height: 70px;;
    text-align: center;
    color:yellow;
    
}



 #logo_save{
width:80px;
 }