.container-fluid 
{
    padding:20px;
    max-width:1480px;
    min-height:100%;
    box-shadow: 2px 2px 2px rgb(192, 192, 192);
}

.dark-container{
   
  border:solid 1px rgb(127, 127, 184);
  color: white;
  box-shadow: 3px 3px 3px black;
}

.dark-container table td,.dark-container table th,.dark-container mat-paginator,.dark-container .filtre{
  background-color:rgb(20,20,50);
  color: white;
}