<div class="top-container">
    <div class="widget-container">
         
        <div class="widget " id="red"> 
            <div class="icon">
                <i class="sidenav-link-icon" class="fa fa-suitcase"></i>
            </div>
            <div class="value">
                <div class="top">{{nbre_applicant}}</div>
                <div class="bottom">Demandes</div>
            </div>
        </div>
        <div class="widget " id="blue"> 
            <div class="icon">
                <i class="sidenav-link-icon" class="fa fa-share"></i>
            </div>
            <div class="value">
                <div class="top">{{nbre_credits}}</div>
                <div class="bottom">Credits Alloues</div>
            </div>
        </div>
    </div>
</div>

<div class="body row" hidden>
    <h3>Statistiques</h3>
        
 </div>

<div class="footer">

</div>