<div mat-dialog-content id="content">
    <form  [formGroup]="creditFormGroup" (ngSubmit)="valider()">


        <mat-stepper   linear="true" #stepper>
            <mat-step  >
                <ng-template matStepLabel>Details sur l'applicant</ng-template>
                 
         
        
                    <div class="row">
                        <mat-form-field appearance="outline" class="col" >
                            <mat-label>Email</mat-label>
                            <input matInput type="text" placeholder="Ex:Nicolas" formControlName="app_email">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" class="col" >
                            <mat-label>First Name</mat-label>
                            <input matInput type="text" placeholder="Ex:Nicolas" formControlName="app_first_name">
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="col" >
                            <mat-label>Last Name</mat-label>
                            <input matInput type="text" placeholder="Ex:Cage" formControlName="app_last_name">
                        </mat-form-field>
                    </div>
                    
                    <div class="row">
                        <mat-form-field class="col">
                        <mat-label >Genre</mat-label>
                        <mat-select formControlName="app_gender">
                            <mat-option  value="F">Feminin</mat-option>
                            <mat-option  value="M">Masculin</mat-option>
                        </mat-select>
                        </mat-form-field>
            
                        <mat-form-field class="col">
                            <mat-label>Date de naissance</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="app_d_naissance">
                             <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
                            <mat-datepicker #picker ></mat-datepicker>
                          </mat-form-field>
                    </div>
                    <div class="row">
                        
                        <mat-form-field appearance="outline" class="col">
                            <mat-label>Telephone</mat-label>
                            <input matInput type="text" placeholder="Ex:226 XX XX XX XX" formControlName="app_phone_number">
                          </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" class="col">
                            <mat-label>Numero Nic</mat-label>
                            <input matInput type="text" placeholder="Ex: XX XX XX" formControlName="app_nic_number" >
                        </mat-form-field>
                    
                      </div>
                    <div class="row">
                        <mat-form-field appearance="outline" class="">
                            <mat-label>Repertoire de la photo</mat-label>
                            <input matInput type="url" placeholder="Ex:Cage" formControlName="app_profile_image">
                        </mat-form-field>
                    </div> 
                    <div class="row">
                        <mat-form-field appearance="outline" class="col">
                            <mat-label>Pays</mat-label>
                            <input matInput type="text" placeholder="Ex:Burkina Fasa" formControlName="app_state">
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="col">
                            <mat-label>Ville</mat-label>
                            <input matInput type="text" placeholder="Ex: Ouagdougou " formControlName="app_city">
                        </mat-form-field>
            
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" class="col">
                            <mat-label>Addresse</mat-label>
                            <input matInput type="text" placeholder="Ex:Avenue Kwame NKuruma" formControlName="app_address">
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="col">
                            <mat-label>Agence</mat-label>
                            <input matInput type="text" placeholder="Ex:Agence de Kwame NKuruma" formControlName="app_point">
                        </mat-form-field>
                    </div>
            
                
            </mat-step>
            <mat-step  >
                <ng-template matStepLabel>Details sur l'avale</ng-template>
                <div class="row">
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Numero de telephone wave</mat-label>
                        <input matInput type="text" placeholder="" formControlName="app_wave_phone_number">
                    </mat-form-field>
        
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Numero de telephone de bureau</mat-label>
                        <input matInput type="text" placeholder="" formControlName="app_business_line">
                    </mat-form-field>
                </div>
        
        
                <div class="row">
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Profession</mat-label>
                        <input matInput type="text" placeholder="" formControlName="app_profession">
                    </mat-form-field>
        
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Salaire</mat-label>
                        <input matInput type="text" placeholder="" formControlName="app_revenue">
                    </mat-form-field>
                </div>
    
    
    
                <div class="row">
                    <mat-form-field appearance="outline" class="col" >
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" placeholder="Ex:Nicolas" formControlName="first_name">
                    </mat-form-field>
        
                    <mat-form-field appearance="outline" class="col" >
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text" placeholder="Ex:Cage" formControlName="last_name">
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <mat-form-field class="col">
                    <mat-label >Genre</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option  value="F">Feminin</mat-option>
                        <mat-option  value="M">Masculin</mat-option>
                    </mat-select>
                    </mat-form-field>
        
                    <mat-form-field class="col">
                        <mat-label>Date de naissance</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="d_naissance">
                       
                        <mat-datepicker-toggle matIconSuffix [for]="picker1" ></mat-datepicker-toggle>
                        <mat-datepicker #picker1 ></mat-datepicker>
                        </mat-form-field>
                </div>
        
                <div class="row">
                    
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Profession</mat-label>
                        <input matInput type="text" placeholder="Ex:226 XX XX XX XX" formControlName="profession">
                        </mat-form-field>
                </div>
        
                <div class="row">
                    
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Telephone</mat-label>
                        <input matInput type="text" placeholder="Ex:226 XX XX XX XX" formControlName="phone_number">
                        </mat-form-field>
                </div>
        
        
        
                <div class="row">
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Image carte d identite nationale</mat-label>
                        <input matInput type="url"   formControlName="nic_image" >
                    </mat-form-field>
                
                    </div>
        
        
                
                <div class="row">
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Pays</mat-label>
                        <input matInput type="text" placeholder="Ex:Burkina Fasa" formControlName="state">
                    </mat-form-field>
        
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Ville</mat-label>
                        <input matInput type="text" placeholder="Ex: Ouagdougou " formControlName="city">
                    </mat-form-field>
        
                </div>
                <div class="row">
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Addresse</mat-label>
                        <input matInput type="text" placeholder="Ex:Avenue Kwame NKuruma" formControlName="address">
                    </mat-form-field>
        
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Agence</mat-label>
                        <input matInput type="text" placeholder="Ex:Agence de Kwame NKuruma" formControlName="point">
                    </mat-form-field>
                </div>
    
    
                  
            </mat-step>



            <mat-step>
                <ng-template matStepLabel>Details sur le credit</ng-template>
                <div class="row">
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Montant du credits</mat-label>
                        <input matInput type="number"  formControlName="loan_amount">
                    </mat-form-field>
        
                </div>
                <div class="row">
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Pourcentage</mat-label>
                        <input matInput type="number"   formControlName="loan_rate">
                    </mat-form-field>
                </div>
        
                <div class="row">
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Montant a rembourser</mat-label>
                        <input matInput type="number"   formControlName="repayment_amount">
                    </mat-form-field>
                </div>
        
                <div class="row">
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>A rembourser dans un delai(nbre de jours)</mat-label>
                        <input matInput type="number" placeholder="Ex: 176 " formControlName="loan_delay">
                    </mat-form-field>
                </div>
                <div mat-dialog-actions class="actions">
                    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
                    <button mat-raised-button color="primary" type="submit"> Valider </button>
                </div>
            </mat-step>




          </mat-stepper>













































        
    
    
           


           
 
            
            
    </form>
   
</div>