<div class="top-container">
    <div class="widget-container">
        <div class="widget " id="green"> 
            <div class="icon">
                <i class="sidenav-link-icon" class="fa fa-user-circle"></i>
            </div>
            <div class="value">
                <div class="top">{{nbre_managers}}</div>
                <div class="bottom">Managers</div>
            </div>
        </div>
       
        <div class="widget " id="yellow"> 
            <div class="icon">
                <i class="sidenav-link-icon" class="fa fa-users"></i>
            </div>
            <div class="value">
                <div class="top">  {{nbre_agents}} </div>
                <div class="bottom">Agents</div>
            </div>
        </div>
        <div class="widget " id="blue"> 
            <div class="icon">
                <i class="sidenav-link-icon" class="fa fa-suitcase"></i>
            </div>
            <div class="value">
                <div class="top">{{nbre_applicant}}</div>
                <div class="bottom">Demandes</div>
            </div>
        </div>
        <div class="widget " id="red"> 
            <div class="icon">
                <i class="sidenav-link-icon" class="fa fa-share"></i>
            </div>
            <div class="value">
                <div class="top">{{nbre_credits}}</div>
                <div class="bottom">Credits Alloues</div>
            </div>
        </div>
    </div>
</div>

<div class="body row" style="padding-top:50px;">
    <h1 class="text-center text-primary">Statistiques</h1>
  
        
        
  </div>

<div class="footer">

</div>